* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

body {
  width: 1440px;
  display: flex;
  justify-content: center;
}

.header {
  height: 96px;
}

.menu {
  height: 20px;
  padding: 16px;
}

.one {
  height: 460px;
}

.header-white {
  height: 96px;
  background-color: #FFF;
  width: 1260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 90px;
  gap: 80px;
}
.header-white-logo {
  display: flex;
  align-items: center;
  width: 49px;
  height: 33px;
  gap: 6px;
}
.header-white-logo-luminae {
  display: flex;
  padding: var(--spacing-0, 0px);
  justify-content: flex-end;
  align-items: center;
  color: #000;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.header-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 80px;
}
.header-input-producs {
  display: flex;
  padding: var(--spacing-0, 0px);
  justify-content: flex-end;
  align-items: center;
  width: 321px;
  height: 24px;
  border: solid 1px #D9D9D9;
  border-radius: 4px;
  padding: 15px 15px;
}
.header-input-producs-text {
  color: #9D9D9D;
  border: none;
}
.header-input-producs-text-categories {
  width: 25px;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.header-input-producs-text-categories-arrow {
  width: 24px;
  height: 24px;
}
.header-input-producs-text-categories-arrow-vl1 {
  width: var(--spacing-6, 1px);
  height: var(--spacing-0, 24px);
  background-color: #E9E9E9;
}
.header-input-producs-text-categories-arrow-vl1-search {
  width: 20px;
  height: 20px;
}

.navigation {
  display: flex;
}
.navigation-items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.navigation-items-item {
  color: rgba(85, 85, 85, 0.3333333333);
  display: flex;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
}
.navigation-items-link {
  color: rgba(85, 85, 85, 0.3333333333);
}
.navigation-items:hover {
  cursor: pointer;
  color: rgba(85, 85, 85, 0.3333333333);
}

.header-icons {
  display: flex;
  padding: var(--spacing-0, 0px);
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header-gray {
  background-color: #262626;
  width: 1260px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 90px;
  margin-bottom: 28px;
}
.header-gray-categories {
  display: flex;
  align-items: center;
  width: 49px;
  height: 33px;
  gap: 6px;
  margin-right: 80px;
}
.header-gray-categories-text {
  color: #FFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.header-gray-categories-text-choose {
  color: #FFF;
}
.header-gray-categories-text-choose-currency {
  color: #FFF;
  display: flex;
  align-items: center;
}
.header-gray-categories-text-choose-currency-language {
  color: #FFF;
  display: flex;
  align-items: center;
}

.vl2 {
  width: var(--spacing-6, 1px);
  height: var(--spacing-0, 50px);
  background-color: #7B7B7B;
}

.header-gray-mens {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-gray-mens-cosmetic-text-weekly {
  color: #FFF;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.header-gray-mens-cosmetic-text-weekly-extend {
  color: #C4C4C4;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.header-gray-icons {
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header-gray-icons:hover {
  cursor: pointer;
}
.header-gray-icons-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.header-gray-icons-icon-img {
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-gray-icons-icon-img-number {
  color: #FFF;
  border-radius: 100px;
  background-color: #3DC47E;
  padding: 2px var(--spacing-2, 8px);
  margin-left: 10px;
}

.menu {
  color: rgba(85, 85, 85, 0.3333333333);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 90px;
}
.menu-names {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.menu-names-name {
  color: rgba(85, 85, 85, 0.3333333333);
}
.menu-names-name:hover {
  cursor: pointer;
  color: #FF7A00;
}

.one {
  display: flex;
  align-items: center;
  position: relative;
}

.one-left {
  width: 40%;
  height: 460px;
}

.one-top {
  width: 228px;
  height: 153px;
  display: flex;
  position: absolute;
  flex-direction: column;
  flex: 1 0 0;
  align-self: stretch;
  background-color: white;
  padding-top: 20px;
  top: 150px;
  right: 630px;
}
.one-top-summer {
  color: #262626;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.one-top-summer-sale {
  display: flex;
  justify-content: center;
  color: #FF2E00;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 46px;
}
.one-top-summer-sale-date {
  background-color: #262626;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.one-right {
  width: 60%;
  height: 460px;
  background-color: #4172DC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.one-right-kimonos {
  color: #FFF;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}
.one-right-kimonos-glam {
  color: #FFF;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.one-right-kimonos-glam-click {
  background-color: #4172DC;
  border: none;
  display: flex;
  width: 243px;
  height: 56px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
}
.one-right-kimonos-glam-click-shop {
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
.one-right-kimonos-glam-click:hover {
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */