* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 1440px;
}

.luminae {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 478px) {
  .container {
    width: 100%;
    padding: 32px 0px;
  }
  .footer {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.header-white {
  width: 100%;
  height: 96px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 90px;
}
.header-white-container {
  display: flex;
  gap: 110px;
  justify-content: space-between;
}
.header-white-container-logo {
  display: flex;
  align-items: center;
  width: 49px;
  height: 33px;
  gap: 6px;
}
.header-white-container-logo-luminae {
  display: flex;
  padding: var(--spacing-0, 0px);
  justify-content: flex-end;
  align-items: center;
  color: #000;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.header-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 80px;
}
.header-input-producs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
  border: solid 1px #D9D9D9;
  border-radius: 4px;
  padding: 5px 10px;
}
.header-input-producs-text {
  color: #9D9D9D;
  height: 30px;
  width: 170px;
  border: none;
  outline: none;
}
.header-input-producs-text-categories {
  width: 25px;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.header-input-producs-text-categories-arrow {
  width: 24px;
  height: 24px;
}
.header-input-producs-text-categories-arrow-vl1 {
  width: var(--spacing-6, 1px);
  height: var(--spacing-0, 24px);
  background-color: #E9E9E9;
}
.header-input-producs-text-categories-arrow-vl1-search {
  width: 20px;
  height: 20px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.header-navigation-right {
  display: flex;
  justify-content: space-between;
}
.header-navigation-right-items {
  display: flex;
  justify-content: space-between;
  gap: 55px;
}
.header-navigation-right-items-item {
  color: #555555;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  line-height: 20px;
}
.header-navigation-right-items-item-link {
  color: #555555;
}
.header-navigation-right-items-item-link:hover {
  cursor: pointer;
  color: #555555;
}

.header-icons {
  display: flex;
  padding: var(--spacing-0, 0px);
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header-gray {
  width: 100%;
  background-color: #262626;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 90px;
  margin-bottom: 28px;
}
.header-gray-categories {
  display: flex;
  align-items: center;
  width: 49px;
  height: 33px;
  gap: 6px;
  margin-right: 80px;
}
.header-gray-categories-text {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.header-gray-categories-text-choose {
  color: #FFFFFF;
}
.header-gray-categories-text-choose-currency {
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.header-gray-categories-text-choose-currency-language {
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.language-all {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.vl2 {
  width: var(--spacing-6, 1px);
  height: var(--spacing-0, 50px);
  background-color: #7B7B7B;
}

.header-gray-mens {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-gray-mens-cosmetic-text-weekly {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.header-gray-mens-cosmetic-text-weekly-extend {
  color: #C4C4C4;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.header-gray-icons {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header-gray-icons:hover {
  cursor: pointer;
}
.header-gray-icons-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.header-gray-icons-icon-img {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-gray-icons-icon-img-number {
  color: #FFFFFF;
  border-radius: 100px;
  background-color: #3DC47E;
  padding: 2px var(--spacing-2, 8px);
  margin-left: 10px;
}

.span {
  display: none;
}

object {
  background-color: black;
}

@media screen and (max-width: 991px) {
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .header-white {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .header-white-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header-gray-mens {
    display: none;
  }
  .vl2 {
    display: none;
  }
  .header-gray {
    margin: 15px 0 0 0;
  }
  .header-gray-icons {
    gap: 40px;
  }
  .language-all {
    gap: 20px;
  }
}
.header-gray-icons-icon-img-card3 {
  width: 40px;
}

@media screen and (max-width: 478px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .header-white-container {
    display: flex;
    justify-content: flex-start;
    gap: var(--spacing-14, 20px) 90px;
    flex-wrap: wrap;
  }
  .span {
    padding-left: 30px;
  }
  div span {
    display: inline-block;
    width: 21px;
    border-bottom: 2px solid black;
    position: relative;
  }
  div span::before {
    top: 7px;
    position: absolute;
    content: "";
    display: inline-block;
    width: 21px;
    border-bottom: 2px solid black;
  }
  div span::after {
    top: -7px;
    position: absolute;
    content: "";
    display: inline-block;
    width: 21px;
    border-bottom: 2px solid black;
  }
  .header-white {
    width: 100%;
    padding: 0;
    padding-left: 30px;
  }
  .header-input-producs-text-categories {
    position: relative;
    left: 60px;
  }
  .header-input-producs-text-categories-arrow {
    display: flex;
    position: relative;
    left: 45px;
  }
  .header-input-producs-text-categories-arrow-vl1 {
    display: flex;
    position: relative;
    left: 20px;
    height: 30px;
  }
  .header-gray-categories {
    display: none;
  }
  .header-navigation {
    display: none;
  }
  .language-all {
    display: none;
  }
  .header-gray-mens {
    display: none;
  }
  .header-gray-icons-icon-img-choose {
    display: none;
  }
  .header-gray-icons-icon-img {
    display: none;
  }
  .header-gray {
    background-color: white;
    margin: 0;
    display: flex;
    position: relative;
    padding: 0;
    bottom: 10px;
    right: 0px;
    gap: 0;
  }
  .header-gray-icons {
    gap: 0;
  }
  .header-gray-icons-icon {
    gap: 0;
  }
  .header-gray-icons-icon-img-card3 {
    width: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .svg path {
    stroke: #000;
  }
  .header-input {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 30px;
  }
  .header-input-producs {
    width: 425px;
    height: 54px;
  }
  .header-input-producs-text-categories-arrow :hover {
    cursor: pointer;
  }
  .header-input-producs-text-categories-arrow-vl1-search :hover {
    cursor: pointer;
  }
  .span {
    display: block;
  }
}
.menu {
  width: 100%;
  color: #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 90px;
}

.woman {
  border: none;
  background-color: transparent;
  color: #555555;
}

.woman:hover {
  cursor: pointer;
  color: #FF7A00;
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99998;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.modal-box {
  background-color: white;
  max-width: 1157px;
  height: 388px;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 48px;
  transform: scale(0);
  transition: transform 0.8s;
  border-radius: 8px;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal-box {
  transform: scale(1);
}

.modal-menu {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.modal-menu-categories {
  color: #555555;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal-menu-categories :hover {
  cursor: pointer;
}
.modal-menu-categories-name {
  color: #262626;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
    font-size: 13px;
    padding: 16px 90px;
  }
  .modal-box {
    width: 773px;
    height: 388px;
  }
  .manu-img {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  .menu {
    display: none;
  }
}
.one {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 16px;
}

.one-left {
  width: 40%;
  height: 460px;
}

.one-top {
  width: 228px;
  height: 153px;
  display: flex;
  position: absolute;
  flex-direction: column;
  flex: 1 0 0;
  align-self: stretch;
  background-color: white;
  padding-top: 20px;
  top: 32%;
  right: 54%;
  z-index: 1;
}
.one-top-summer {
  color: #262626;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 20px;
}
.one-top-summer-sale {
  display: flex;
  justify-content: center;
  color: #FF2E00;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 20px;
}
.one-top-summer-sale-date {
  background-color: #262626;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.one-right {
  width: 66%;
  height: 460px;
  position: relative;
}
.one-right-sky {
  width: 100%;
  height: 100%;
  position: absolute;
}
.one-right-sky-jpg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.one-right-text {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 13% 22%;
  gap: 20px;
}
.one-right-text-kimonos {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}
.one-right-text-kimonos-glam {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.one-right-text-kimonos-glam-click {
  background-color: #4172DC;
  border: none;
  display: flex;
  width: 179px;
  height: 24px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
}
.one-right-text-kimonos-glam-click-shop {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
.one-right-text-kimonos-glam-click:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .one {
    width: 100%;
    padding: 0;
  }
  .one-left {
    width: 50%;
    height: 460px;
  }
  .one-top {
    display: none;
  }
  .picture {
    width: 100%;
    height: 460px;
  }
  .one-right {
    width: 50%;
    height: 460px;
  }
  .one-right-text {
    padding: 13% 14%;
    gap: 32px;
  }
}
@media screen and (max-width: 478px) {
  .one {
    display: none;
  }
}
.two {
  display: flex;
  flex-direction: column;
}

.two-top {
  display: flex;
  justify-content: space-between;
  padding: 48px 90px;
}
.two-top-flash {
  color: #000;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.two-top-flash-view {
  color: #262626;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.two-cards {
  display: flex;
  padding: var(--spacing-0, 0px);
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
  padding-bottom: 68px;
}
.two-cards-bag {
  width: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.two-cards-bag:hover {
  cursor: pointer;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: #FFFFFF;
  border-radius: 8px;
}
.two-cards-bag-deal {
  color: #9D9D9D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  padding-top: 16px;
}
.two-cards-bag-deal-date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
}
.two-cards-bag-deal-date-hour {
  color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.two-cards-bag-deal-date-hour-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9D9D9D;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.card-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 20%;
}
.card-name-tonny {
  color: #262626;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
.card-name-tonny-shoulder {
  color: #555555;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.card-name-tonny-shoulder-stars {
  display: flex;
  gap: 10px;
  color: #555555;
}

.card-price {
  display: flex;
  gap: 10px;
  padding-bottom: 16px;
}
.card-price-new {
  color: #FF2E00;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
.card-price-new-old {
  color: #555555;
}
.card-price-new-old-sale {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 2px;
  background-color: #FF2E00;
  padding: 3px 6px;
}

@media screen and (max-width: 991px) {
  .two {
    width: 100%;
  }
  .two-cards-bag {
    width: 396px;
    height: 380px;
  }
}
@media screen and (max-width: 478px) {
  .two {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    overflow: hidden;
  }
  .two-top {
    padding: 24px 0px;
  }
  .two-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.three {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 68px;
}

.three-top {
  display: flex;
  justify-content: space-between;
  padding: 48px 90px;
}
.three-top-flash {
  color: #000;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.three-top-flash-view {
  color: #262626;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 8px;
  padding-left: 90px;
  padding-right: 90px;
}
.cards-card {
  width: 407px;
  height: 437px;
  display: flex;
  border-radius: 8px;
}
.cards-card-new {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #262626;
  border-radius: 8px;
}
.cards-card-new-green {
  border: none;
  background-color: #00A95D;
  border-radius: 4px;
  position: absolute;
  margin: 10px;
}
.cards-card-new-green :hover {
  cursor: pointer;
}
.cards-card-new-green-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 3px 6px;
  gap: 4px;
}
.cards-card-new-green-text-img {
  line-height: 0;
  gap: 4px;
}

.cards2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 8px;
  padding-left: 90px;
  padding-right: 90px;
  display: none;
}
.cards2-card {
  width: 407px;
  height: 437px;
  display: flex;
  border-radius: 8px;
}
.cards2-card-new {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #262626;
  border-radius: 8px;
}
.cards2-card-new-green {
  border: none;
  background-color: #00A95D;
  border-radius: 4px;
  position: absolute;
  margin: 10px;
}
.cards2-card-new-green :hover {
  cursor: pointer;
}
.cards2-card-new-green-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 3px 6px;
  gap: 4px;
}
.cards2-card-new-green-text-img {
  line-height: 0;
  gap: 4px;
}

.card-womans {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.card-text {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.card-text-name {
  font-family: Lato;
}
.card-text-name-cool {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding-bottom: 10%;
}
.card-text-name-cool-dotted {
  color: #C4C4C4;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 10%;
}

.price {
  display: flex;
  align-items: center;
  background-color: #262626;
  border-radius: 8px;
  outline: none;
  border: 1px solid #FFFFFF;
  padding: 6px 6px;
  gap: 6px;
}
.price :hover {
  cursor: pointer;
}
.price-numbers {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
.price-numbers-words {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .three {
    width: 100%;
  }
  .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
  }
  .cards-card {
    width: 811px;
    height: 437px;
  }
  .cards-card-new {
    width: 811px;
    height: 437px;
  }
  .cards2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .card-womans {
    width: 811px;
    height: 344px;
  }
}
@media screen and (max-width: 478px) {
  .three {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
  .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
  }
  .cards-card {
    width: 357px;
  }
  .cards-card-new {
    width: 357px;
  }
  .card-womans {
    width: 100%;
  }
  .three-top {
    padding: 24px 0px;
  }
  .three-top-flash {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
  .cards2 {
    display: none;
  }
}
.four {
  display: flex;
  flex-direction: column;
  padding-left: 90px;
  padding-right: 90px;
}

.four-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 68px;
}
.four-top-flash {
  color: #000;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.four-top-flash-view {
  color: #262626;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.four-cards {
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.four-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 480px;
}
.four-card:hover {
  cursor: pointer;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: #FFFFFF;
}

.card-name {
  padding-top: 10px;
  padding-right: 20px;
}
.card-name-text {
  display: flex;
  justify-content: space-between;
}
.card-name-text-words {
  display: flex;
  flex-direction: column;
}
.card-name-text-words-mango {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 12px;
}
.card-name-text-words-mango-kimono {
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.card-name-text-words-mango-kimono-img {
  display: flex;
  align-items: center;
}

.four-card-text {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #555555;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.card-prices {
  display: flex;
  gap: 10px;
  padding-bottom: 16px;
}
.card-prices-new {
  color: #FF2E00;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
.card-prices-new-old {
  color: #9D9D9D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.card-prices-new-old-sale {
  color: #FF2E00;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.four-cards-img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .four {
    width: 100%;
  }
  .four-card {
    width: 396px;
    height: 480px;
  }
  .four-cards {
    height: 40%;
    flex-wrap: wrap;
    gap: 15px;
  }
  .four-cards-img {
    width: 100%;
    height: 327px;
  }
  .four-card {
    width: 49%;
  }
  .card-name {
    padding-left: 5%;
  }
}
@media screen and (max-width: 478px) {
  .four {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
  .four-top {
    padding: 24px 20px;
  }
  .four-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .four-cards-img {
    width: 260px;
  }
  .four-card {
    width: 260px;
  }
}
.five {
  height: 393px;
  display: flex;
  margin-top: 84px;
  margin-bottom: 84px;
  padding-left: 90px;
  padding-right: 90px;
}
.five-cards {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}
.five-cards-card {
  width: 100%;
  height: 100%;
  background-color: #BF2E3B;
  display: flex;
  justify-content: space-between;
}
.five-cards-card-text {
  width: 50%;
  height: 100%;
  color: #FFFFFF;
  font-family: Lato;
  padding: 68px 20px;
}
.five-cards-card-text-left {
  display: flex;
  flex-direction: column;
}
.five-cards-card-text-left-never {
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  padding-bottom: 10%;
}
.five-cards-card-text-left-never-shirts {
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 10%;
}
.five-cards-card-text-left-never-shirts-all {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-decoration-line: underline;
}
.five-cards-card-text-left-never-shirts-all-img {
  width: 50%;
  height: 100%;
}

.five-cards-card-two {
  background-color: #1D5159;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.five-cards-card-two-text {
  width: 50%;
  height: 100%;
  color: #FFFFFF;
  font-family: Lato;
  padding: 68px 24px;
}
.five-cards-card-two-text-left {
  display: flex;
  flex-direction: column;
}
.five-cards-card-two-text-left-never {
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  padding-bottom: 10%;
}
.five-cards-card-two-text-left-never-shirts {
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 10%;
}
.five-cards-card-two-text-left-never-shirts-all {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-decoration-line: underline;
}
.five-cards-card-two-text-left-never-shirts-all-img {
  width: 50%;
  height: 100%;
}

.five-img {
  width: 101%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .five {
    width: 100%;
    height: 467px;
  }
}
@media screen and (max-width: 478px) {
  .five {
    width: 478px;
    height: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
  .five-cards-card-two {
    display: none;
  }
  .five-cards-card-text {
    padding: 32px 20px;
  }
  .five-cards-card-text-left-never {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 5%;
  }
  .five-cards-card-text-left-never-shirts {
    font-size: 18px;
    padding-bottom: 5%;
  }
  .five-cards-card-text-left-never-shirts-all {
    font-size: 18px;
  }
}
.six {
  display: flex;
  background-color: #F7DDD0;
}
.six-center {
  display: flex;
  align-items: center;
}
.six-center-text {
  display: flex;
  padding: 0px 90px;
  flex-direction: column;
  gap: 17px;
}
.six-center-text-mag {
  color: #465D6B;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-left: 70px;
}
.six-center-text-mag-snap {
  color: #555555;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-left: 70px;
  padding-right: 70px;
}

.six-arrow-left {
  justify-content: center;
  align-items: center;
  padding: 90px 90px 90px 70px;
}
.six-arrow-left :hover {
  cursor: pointer;
}

.six-arrow-right {
  transform: scale(-1);
  align-items: center;
  position: absolute;
  padding: 90px 70px 90px 90px;
}
.six-arrow-right :hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .six {
    width: 100%;
    height: 221px;
  }
  .iphone {
    width: 100%;
  }
}
@media screen and (max-width: 478px) {
  .six {
    display: none;
  }
}
.seven {
  height: 393px;
  display: flex;
  margin-top: 84px;
  padding-left: 90px;
  padding-right: 90px;
}
.seven-cards {
  width: 100%;
  height: 97.5%;
  display: flex;
  gap: 20px;
}
.seven-cards-card {
  width: 100%;
  height: 100%;
  background-color: #D11FB5;
  display: flex;
  justify-content: space-between;
}
.seven-cards-card-text {
  width: 50%;
  height: 100%;
  color: #FFFFFF;
  font-family: Lato;
  padding: 68px 20px;
}
.seven-cards-card-text-left {
  display: flex;
  flex-direction: column;
}
.seven-cards-card-text-left-never {
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  padding-bottom: 15%;
}
.seven-cards-card-text-left-never-shirts {
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 15%;
}
.seven-cards-card-text-left-never-shirts-all {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-decoration-line: underline;
}

.seven-cards-card-two {
  background-color: #0186C4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.seven-cards-card-two-text {
  width: 50%;
  height: 100%;
  color: #FFFFFF;
  font-family: Lato;
  padding: 68px 20px;
}
.seven-cards-card-two-text-left {
  display: flex;
  flex-direction: column;
}
.seven-cards-card-two-text-left-never {
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  padding-bottom: 15%;
}
.seven-cards-card-two-text-left-never-shirts {
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 15%;
}
.seven-cards-card-two-text-left-never-shirts-all {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-decoration-line: underline;
}
.seven-cards-card-two-text-left-never-shirts-all-img {
  width: 50%;
}

.seven-img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .seven {
    width: 100%;
    height: 467px;
  }
}
@media screen and (max-width: 478px) {
  .seven {
    width: 478px;
    height: 320px;
    padding: 20px;
    margin: 0;
  }
  .seven-cards {
    width: 438px;
    height: 280px;
  }
  .seven-cards-card {
    display: none;
  }
  .seven-cards-card-text-left-never-shirts-all-img {
    width: 50%;
  }
  .seven-cards-card-two-text {
    padding: 32px 20px;
  }
  .seven-cards-card-two-text-left-never {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 5%;
  }
  .seven-cards-card-two-text-left-never-shirts {
    font-size: 18px;
    padding-bottom: 5%;
  }
  .seven-cards-card-two-text-left-never-shirts-all {
    font-size: 18px;
  }
}
.footer-luminae {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 155px;
}

.luminae {
  width: 571px;
  height: 187px;
  background-color: #7296AB;
  display: flex;
  padding: var(--spacing-8, 32px) var(--spacing-13, 56px);
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  position: absolute;
}
.luminae-text {
  display: flex;
  gap: 20px;
}
.luminae-text-first {
  color: var(--text-color-dark-text-primary, #FFFFFF);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.luminae-text-first-second {
  color: var(--background-color-footer, #D1E2EB);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.luminae-text-first-second-register {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.luminae-imput {
  background-color: #FFFFFF;
  width: 268px;
  height: 36px;
  display: flex;
  align-items: center;
  border: none;
  padding-left: 10px;
}
.luminae-imput-email {
  display: flex;
  align-items: center;
}
.luminae-imput-email-text {
  width: 230px;
  height: 36px;
  border: none;
  outline: none;
}

.footer-top {
  width: 100%;
  height: 362px;
  background-color: #D1E2EB;
  display: flex;
  justify-content: space-between;
  padding: 132px 248px 60px 303px;
}
.footer-top-all {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 126px;
  width: 889px;
  height: 170px;
}
.footer-top-all-text {
  display: flex;
  flex-direction: column;
}
.footer-top-all-text-name {
  color: #262626;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 25px;
}
.footer-top-all-text-name-words {
  color: #555555;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 15px;
}

.footer-botton {
  width: 100%;
  padding: 24px 100px;
}
.footer-botton-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 17px;
}
.footer-botton-top-icons {
  display: flex;
  gap: 25px;
}
.footer-botton-top-icons-right {
  display: flex;
  align-items: center;
}

.footer-botton-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
}
.footer-botton-end-forster {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.footer-botton-end-forster-copyright {
  color: #9D9D9D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.footer-botton-end-forster-copyright-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 991px) {
  .footer-top {
    width: 100%;
    height: 557px;
  }
  .footer-top-all {
    display: flex;
    justify-content: center;
    gap: var(--spacing-14, 60px) 126px;
    flex-wrap: wrap;
  }
  .footer-top-all-text {
    width: 130px;
    height: 135px;
  }
}
@media screen and (max-width: 478px) {
  .footer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
  }
  .footer-luminae {
    display: none;
  }
  .footer-top {
    width: 478px;
    padding: 60px 40px;
  }
  .footer-top-all {
    gap: var(--spacing-14, 60px) 60px;
  }
  .footer-botton {
    display: flex;
    justify-content: center;
  }
  .footer-botton-top-icons-right {
    display: none;
  }
  .footer-botton-end {
    display: none;
  }
  hr {
    display: none;
  }
}
@font-face {
  font-family: Lato;
  src: url(./src/fonts/Lato-Black.ttf);
}/*# sourceMappingURL=index.css.map */