* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

body {
  width: 1440px;
  display: flex;
  justify-content: center;
}

.menu {
  width: 1260px;
  height: 20px;
}

.one {
  width: 1260px;
}

.two {
  width: 1260px;
}

.three {
  width: 1260px;
}

.four {
  width: 1260px;
}

.five {
  width: 1260px;
}

.header-white {
  height: 96px;
  background-color: #FFFFFF;
  width: 1260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 90px;
  gap: 80px;
}
.header-white-logo {
  display: flex;
  align-items: center;
  width: 49px;
  height: 33px;
  gap: 6px;
}
.header-white-logo-luminae {
  display: flex;
  padding: var(--spacing-0, 0px);
  justify-content: flex-end;
  align-items: center;
  color: #000;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.header-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 80px;
}
.header-input-producs {
  display: flex;
  padding: var(--spacing-0, 0px);
  justify-content: flex-end;
  align-items: center;
  width: 321px;
  height: 24px;
  border: solid 1px #D9D9D9;
  border-radius: 4px;
  padding: 15px 15px;
}
.header-input-producs-text {
  color: #9D9D9D;
  border: none;
}
.header-input-producs-text-categories {
  width: 25px;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.header-input-producs-text-categories-arrow {
  width: 24px;
  height: 24px;
}
.header-input-producs-text-categories-arrow-vl1 {
  width: var(--spacing-6, 1px);
  height: var(--spacing-0, 24px);
  background-color: #E9E9E9;
}
.header-input-producs-text-categories-arrow-vl1-search {
  width: 20px;
  height: 20px;
}

.navigation {
  display: flex;
}
.navigation-items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.navigation-items-item {
  color: #555555;
  display: flex;
  font-family: Lato;
  font-size: 14px;
  line-height: 20px;
}
.navigation-items-link {
  color: #555555;
}
.navigation-items:hover {
  cursor: pointer;
  color: #555555;
}

.header-icons {
  display: flex;
  padding: var(--spacing-0, 0px);
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header-gray {
  background-color: #262626;
  width: 1260px;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 90px;
  margin-bottom: 28px;
}
.header-gray-categories {
  display: flex;
  align-items: center;
  width: 49px;
  height: 33px;
  gap: 6px;
  margin-right: 80px;
}
.header-gray-categories-text {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.header-gray-categories-text-choose {
  color: #FFFFFF;
}
.header-gray-categories-text-choose-currency {
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.header-gray-categories-text-choose-currency-language {
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.vl2 {
  width: var(--spacing-6, 1px);
  height: var(--spacing-0, 50px);
  background-color: #7B7B7B;
}

.header-gray-mens {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-gray-mens-cosmetic-text-weekly {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.header-gray-mens-cosmetic-text-weekly-extend {
  color: #C4C4C4;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.header-gray-icons {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.header-gray-icons:hover {
  cursor: pointer;
}
.header-gray-icons-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.header-gray-icons-icon-img {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-gray-icons-icon-img-number {
  color: #FFFFFF;
  border-radius: 100px;
  background-color: #3DC47E;
  padding: 2px var(--spacing-2, 8px);
  margin-left: 10px;
}

.menu {
  color: #555555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 90px;
}
.menu-names {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.menu-names-name {
  color: #555555;
}
.menu-names-name:hover {
  cursor: pointer;
  color: #FF7A00;
}

.one {
  display: flex;
  align-items: center;
  position: relative;
}

.one-left {
  width: 40%;
  height: 460px;
}

.one-top {
  width: 228px;
  height: 153px;
  display: flex;
  position: absolute;
  flex-direction: column;
  flex: 1 0 0;
  align-self: stretch;
  background-color: white;
  padding-top: 20px;
  top: 150px;
  right: 630px;
  z-index: 1;
}
.one-top-summer {
  color: #262626;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.one-top-summer-sale {
  display: flex;
  justify-content: center;
  color: #FF2E00;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 46px;
}
.one-top-summer-sale-date {
  background-color: #262626;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.one-right {
  width: 60%;
  height: 460px;
  position: relative;
}
.one-right-sky {
  width: 100%;
  height: 100%;
  position: absolute;
}
.one-right-sky-jpg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.one-right-text {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 17% 17%;
  gap: 20px;
}
.one-right-text-kimonos {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
}
.one-right-text-kimonos-glam {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}
.one-right-text-kimonos-glam-click {
  background-color: #4172DC;
  border: none;
  display: flex;
  width: 179px;
  height: 24px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2, 8px);
}
.one-right-text-kimonos-glam-click-shop {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
.one-right-text-kimonos-glam-click:hover {
  cursor: pointer;
}

.two {
  display: flex;
  flex-direction: column;
}

.two-top {
  display: flex;
  justify-content: space-between;
  padding: 48px 90px;
}
.two-top-flash {
  color: #000;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.two-top-flash-view {
  color: #262626;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.two-cards {
  display: flex;
  padding: var(--spacing-0, 0px);
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  align-self: stretch;
  flex-wrap: wrap;
  padding-bottom: 68px;
}
.two-cards :hover {
  cursor: pointer;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: #FFFFFF;
  border-radius: 8px;
}
.two-cards-bag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.two-cards-bag-deal {
  color: #9D9D9D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  padding-top: 16px;
}
.two-cards-bag-deal-date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
}
.two-cards-bag-deal-date-hour {
  color: #262626;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.two-cards-bag-deal-date-hour-clock {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9D9D9D;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.card-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 20%;
}
.card-name-tonny {
  color: #262626;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
.card-name-tonny-shoulder {
  color: #555555;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.card-name-tonny-shoulder-stars {
  display: flex;
  gap: 10px;
  color: #555555;
}

.card-price {
  display: flex;
  gap: 10px;
  padding-bottom: 16px;
}
.card-price-new {
  color: #FF2E00;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
.card-price-new-old {
  color: #555555;
}
.card-price-new-old-sale {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 2px;
  background-color: #FF2E00;
  padding: 3px 6px;
}

.three {
  display: flex;
  flex-direction: column;
  position: relative;
}

.three-top {
  display: flex;
  justify-content: space-between;
  padding: 48px 90px;
}
.three-top-flash {
  color: #000;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.three-top-flash-view {
  color: #262626;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 8px;
  padding-left: 90px;
  padding-right: 90px;
}
.cards-card {
  width: 346px;
  height: 437px;
  display: flex;
  border-radius: 8px;
}
.cards-card-new {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  background-color: #262626;
  border-radius: 8px;
}
.cards-card-new-green {
  border: none;
  background-color: #00A95D;
  border-radius: 4px;
  position: absolute;
  margin: 10px;
}
.cards-card-new-green :hover {
  cursor: pointer;
}
.cards-card-new-green-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 3px 6px;
  gap: 4px;
}
.cards-card-new-green-text-img {
  line-height: 0;
  gap: 4px;
}

.card-womans {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.card-text {
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.card-text-name {
  font-family: Lato;
}
.card-text-name-cool {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding-bottom: 10%;
}
.card-text-name-cool-dotted {
  color: #C4C4C4;
  padding-bottom: 10%;
}

.price {
  display: flex;
  align-items: center;
  background-color: #262626;
  border-radius: 8px;
  outline: none;
  border: 1px solid #FFFFFF;
  padding: 6px 6px;
  gap: 6px;
}
.price :hover {
  cursor: pointer;
}
.price-numbers {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
.price-numbers-words {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.four {
  display: flex;
  flex-direction: column;
  padding-left: 90px;
  padding-right: 90px;
}

.four-top {
  display: flex;
  justify-content: space-between;
  padding: 0px 90px 68px 90px;
}
.four-top-flash {
  color: #000;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.four-top-flash-view {
  color: #262626;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.four-cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.four-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.four-card :hover {
  cursor: pointer;
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: #FFFFFF;
}

.card-name {
  padding: 10%;
  gap: 20px;
}
.card-name-text {
  display: flex;
  justify-content: space-between;
}
.card-name-text-words {
  display: flex;
  flex-direction: column;
}
.card-name-text-words-mango {
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 12px;
}
.card-name-text-words-mango-kimono {
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.card-name-text-words-mango-kimono-img {
  display: flex;
  align-items: center;
}

.four-card-text {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #555555;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.card-prices {
  display: flex;
  gap: 10px;
  padding-bottom: 16px;
}
.card-prices-new {
  color: #FF2E00;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
.card-prices-new-old {
  color: #9D9D9D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.card-prices-new-old-sale {
  color: #FF2E00;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.five {
  width: 1440px;
  height: 393px;
  display: flex;
  margin-top: 84px;
  margin-bottom: 84px;
  padding-left: 90px;
  padding-right: 90px;
}
.five-cards {
  width: 100%;
  height: 97.5%;
  display: flex;
  gap: 30px;
}
.five-cards-card {
  width: 100%;
  height: 100%;
  background-color: #BF2E3B;
  display: flex;
  justify-content: space-between;
}
.five-cards-card-text {
  width: 50%;
  height: 100%;
  color: #FFFFFF;
  font-family: Lato;
  padding: 68px 20px;
}
.five-cards-card-text-left {
  display: flex;
  flex-direction: column;
}
.five-cards-card-text-left-never {
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  padding-bottom: 15%;
}
.five-cards-card-text-left-never-shirts {
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 15%;
}
.five-cards-card-text-left-never-shirts-all {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-decoration-line: underline;
}
.five-cards-card-text-left-never-shirts-all-img {
  width: 50%;
  height: 100%;
}

.five-cards-card-two {
  background-color: #1D5159;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.five-cards-card-two-text {
  width: 50%;
  height: 100%;
  color: #FFFFFF;
  font-family: Lato;
  padding: 68px 20px;
}
.five-cards-card-two-text-left {
  display: flex;
  flex-direction: column;
}
.five-cards-card-two-text-left-never {
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  padding-bottom: 15%;
}
.five-cards-card-two-text-left-never-shirts {
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 15%;
}
.five-cards-card-two-text-left-never-shirts-all {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-decoration-line: underline;
}
.five-cards-card-two-text-left-never-shirts-all-img {
  width: 50%;
  height: 100%;
}

.five-img {
  width: 100%;
  height: 100%;
}

.six {
  display: flex;
  background-color: #F7DDD0;
  margin-right: 70px;
}
.six-center {
  display: flex;
  align-items: center;
}
.six-center-text {
  display: flex;
  padding: 0px 90px;
  flex-direction: column;
  gap: 17px;
}
.six-center-text-mag {
  color: #465D6B;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-left: 70px;
}
.six-center-text-mag-snap {
  color: #555555;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-left: 70px;
  padding-right: 70px;
}

.six-arrow-left {
  justify-content: center;
  align-items: center;
  padding: 90px 90px 90px 70px;
}

.six-arrow-right {
  transform: scale(-1);
  align-items: center;
  position: absolute;
  padding: 90px 70px 90px 90px;
}

.seven {
  width: 1440px;
  height: 393px;
  display: flex;
  margin-top: 84px;
  padding-left: 90px;
  padding-right: 90px;
}
.seven-cards {
  width: 100%;
  height: 97.5%;
  display: flex;
  gap: 30px;
}
.seven-cards-card {
  width: 100%;
  height: 100%;
  background-color: #D11FB5;
  display: flex;
  justify-content: space-between;
}
.seven-cards-card-text {
  width: 50%;
  height: 100%;
  color: #FFFFFF;
  font-family: Lato;
  padding: 68px 20px;
}
.seven-cards-card-text-left {
  display: flex;
  flex-direction: column;
}
.seven-cards-card-text-left-never {
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  padding-bottom: 15%;
}
.seven-cards-card-text-left-never-shirts {
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 15%;
}
.seven-cards-card-text-left-never-shirts-all {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-decoration-line: underline;
}

.seven-cards-card-two {
  background-color: #0186C4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.seven-cards-card-two-text {
  width: 50%;
  height: 100%;
  color: #FFFFFF;
  font-family: Lato;
  padding: 68px 20px;
}
.seven-cards-card-two-text-left {
  display: flex;
  flex-direction: column;
}
.seven-cards-card-two-text-left-never {
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 46px;
  padding-bottom: 15%;
}
.seven-cards-card-two-text-left-never-shirts {
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  padding-bottom: 15%;
}
.seven-cards-card-two-text-left-never-shirts-all {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-decoration-line: underline;
}

.seven-img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=index.css.map */