.menu {
    width: 100%;
    color: $dark-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 90px;

        &-names{
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
    
            &-name {
                color: $dark-gray;

            &:hover {
                cursor: pointer;
                color: $orange;
                
            }
        }      
    }
}

@media screen and (max-width: 991px){
    .menu {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px; 
        font-size: 13px; 

    }
}

@media screen and (max-width: 478px) {
    .menu {
        display: none;
    }
}
    


