* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

li {
    list-style: none ;
    text-decoration: none;
}

body {
    width: 1440px;
    display: flex;
    justify-content: center;
    
}

.menu {
    width: 1260px;
    height: 20px;
}

.one {
    width: 1260px;
}

.two {
    width: 1260px;
}

.three {
    width: 1260px;
}

.four {
    width: 1260px;
}

.five {
    width: 1260px;
}




