.one {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 16px;
}

.one-left {
    width: 40%;
    height: 460px;
}

.one-top {
    width: 228px;
    height: 153px;
    display: flex;
    position: absolute;
    flex-direction: column;
    flex: 1 0 0;
    align-self: stretch;
    background-color: white;
    padding-top: 20px;
    top: 32%;
    right: 54%;
    z-index: 1;


    &-summer {
        color: $color-gray;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        padding-top: 20px;

        &-sale {
            display: flex;
            justify-content: center;
            color: $orange-s;
            font-family: Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            padding-bottom: 20px;

            &-date {
                background-color: $color-gray;
                color: $color-white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1 0 0;
            }
        }
    }  
}

.one-right {
    width: 66%;
    height: 460px;
    position: relative;
    
    &-sky {
        width: 100%;
        height: 100%;
        position: absolute;

        &-jpg {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
}

.one-right-text {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 13% 22%;
    gap: 20px;

    &-kimonos {
        color: $color-white;
        font-family: Lato;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
        text-transform: uppercase;

        &-glam {
            color: $color-white;
            font-family: Lato;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 50px;

            &-click {
                background-color: $blue-s;
                border: none;
                display: flex;
                width: 179px;
                height: 24px;
                padding: 16px 32px;
                justify-content: center;
                align-items: center;
                gap: var(--spacing-2, 8px);

                &-shop {
                    color: $color-white;
                    font-family: Lato;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    text-transform: uppercase;
                }
               

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}


@media screen and (max-width: 991px){
    .one{
        width: 100%;
        padding: 0;
    }

    .one-left {
        width: 50%;
        height: 460px;
    }

    .one-top {
        display: none;
    }

    .picture {
        width: 100%;
        height: 460px;
    }

    .one-right {
        width: 50%;
        height: 460px;

        &-text {
            padding: 13% 14%;
            gap: 32px;
        }
    }
}
    


