.three {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 68px;
}
.three-top {
   display: flex;
   justify-content: space-between;
   padding: 48px 90px;

    &-flash {
        color: $color-black;
        font-family: Lato;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;

        &-view {
            color: $color-gray;
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

.cards{

    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
    padding-left: 90px;
    padding-right: 90px;
   
    &-card {
        width: 407px;
        height: 437px;
        display: flex;
        border-radius: 8px;

        &-new {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: $color-gray;
            border-radius: 8px;
        

           &-green {
                border: none;
                background-color: $green;
                border-radius: 4px;
                position: absolute;
                margin: 10px;

                :hover {
                    cursor: pointer;
                }

                &-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color-white;
                    font-family: Lato;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    padding: 3px 6px;
                    gap: 4px;

                    &-img{
                        line-height: 0;
                        gap: 4px;
                    }
                }
           }

        }
        
    }
}  

.cards2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 8px;
    padding-left: 90px;
    padding-right: 90px;
    display: none;

    &-card {
        width: 407px;
        height: 437px;
        display: flex;
        border-radius: 8px;

        &-new {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: $color-gray;
            border-radius: 8px;
        

           &-green {
                border: none;
                background-color: $green;
                border-radius: 4px;
                position: absolute;
                margin: 10px;

                :hover {
                    cursor: pointer;
                }

                &-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $color-white;
                    font-family: Lato;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    padding: 3px 6px;
                    gap: 4px;

                    &-img{
                        line-height: 0;
                        gap: 4px;
                    }
                }
           }

        }
        
    }
}
.card-womans {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.card-text {
    color: $color-white;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
    &-name {
        font-family: Lato;
    
        &-cool {
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;
            padding-bottom: 10%;
            

            &-dotted {
                color: $light-white-l;
                font-family: Lato;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                padding-bottom: 10%;
            }
        }
    }
}

.price {
    display: flex;
    align-items: center;
    background-color: $color-gray;
    border-radius: 8px;
    outline: none;
    border: 1px solid $color-white;
    padding: 6px 6px;
    gap: 6px;

    :hover {
        cursor: pointer;
    }

    &-numbers {
        color: $color-white;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-transform: uppercase;

        &-words {
            color: $color-white;
            font-family: Lato;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 991px){
    .three {
        width: 100%;
    }

    .cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        display: none;

        &-card {
            width: 811px;
            height: 437px;

            &-new {
                width: 811px;
                height: 437px;
            }
        }
    }

    .cards2 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card-womans {
        width: 811px;
        height: 344px;
    }
}

@media screen and (max-width: 478px) {
    .three {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
    }
    .cards {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 0;

        &-card {
            width: 357px;

            &-new {
                width: 357px;
            }

        }
    }

    .card-womans {
        width: 100%;
    }
        
    .three-top {
        padding: 24px 0px;
            
        
        
        &-flash {
            font-family: Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
        }
    }

    .cards2 {
        display: none;
    }
}

