.two-top {
   display: flex;
   justify-content: space-between;
   padding: 50px 90px;
}

.two-top-flash {
    background-color: blue;
    color: $color-black;
    font-family: Lato;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px
}