.two {
    display: flex;
   flex-direction: column;
}
.two-top {
   display: flex;
   justify-content: space-between;
   padding: 48px 90px;

    &-flash {
        color: $color-black;
        font-family: Lato;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;

        &-view {
            color: $color-gray;
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
         }
    }
}

.two-cards {
    display: flex;
    padding: var(--spacing-0, 0px);
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px var(--spacing-5, 20px);
    align-self: stretch;
    flex-wrap: wrap;
    gap: 30px;

   

        &-bag {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            :hover {
                box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
                background-color: white;
            

            &-deal {
                color: $light-gray-s;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: Lato;
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                line-height: 20px; 
                
            

                &-date {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: Lato;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 30px; 

                    &-hour {
                        color: $color-gray;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-family: Lato;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        

                        &-clock {
                            color: $light-gray-s;
                            font-family: Lato;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;
                        }
                            
                            
                    }
                
                }
            }
        }
    }
}
